<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/articles/list">Articles</a></li>
    <li class="breadcrumb-item active"><a href="/articles/add">Add</a></li>
</ol>
<h2 class="display-4"><%= article.title %></h2>
<p><%= article.body %></p>
<a href="/articles/edit/<%= article.id %>" class="btn btn-dark">Edit</a>
<a href="/articles/list" class="btn btn-dark">Back</a>